/* body {
    background-color: #e6adad;
}

.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
}

.nav-item {
    margin-left: 14px;
}



.team {
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.team-logo {
    background-color: #e6adad;
    height: 100px;
    margin: 2px;
    overflow-y: hidden;    
}

.team-name {
    background-color: aquamarine;
    margin-bottom: 20px;
    width: 150px;
    text-align: center;
}

.score {
    background-color: azure;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: xx-large;
}

#score-board {
    background-color: beige;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 5px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header-icon {
    margin-right: 10px;
}

.card-header-minute {
    margin-left: auto;
}

.match-list {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 10px;
}

.spinner-grow {
    margin-left: 10px;
}

.list-group-item {
    width: 580px;
}

.match-status {
    margin-left: 40px;
} */

.competition-link {
    max-width: 120px;
}

.sub-nav {
  background-color: #e3f2fd;
}

.side-navbar {
    background-color: #d4e2ec;
}

.top-navbar {
    background-color: #bdcbd4;
}

.match-item:hover {
  background-color: #bac8d6; /* Customize the color as needed */
}

.match-list {
    width: 50%;
    min-width: 450px;
}   